<form action="/blogs" method="POST">
Title: <input type="text" name="blog[title]" placeholder="enter title">
Image: <input type="text" name="blog[image]" placeholder="enter image link">
Description: <input type="text" name="blog[body]" placeholder="enter description">
<button type="submit">Submit</button>
</form>